.banner {
  background-image: url("/assets/img/benefits/banner--news.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 18.88rem 1.69rem 6.5rem 1.56rem;
  max-width: 100%;

  @media screen and (min-width: 64rem) {
    background-image: url("/assets/img/benefits/desktop-banner--news.png");
    aspect-ratio: 90.0625 / 30.3125;
    padding: 9.63rem 8.25rem 13.13rem;
  }

  &__title {
    color: #FFF;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 96%;

    @media screen and (min-width: 64rem) {
      max-width: 13ch;
    }
  }
}