@import "../../../assets/css/tools/variable.scss";
.pq-list {
  img {
    width: 14px;
    height: 8px;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
  }
  .p-question {
    font-family: 'pp_object_sansregular';
    font-size: 16px;
    font-weight: 400;
    color: $base-color;
    margin: 5px;
    padding-left: 16px;
  }
  .p-answer {
    font-family: 'pp_object_sansregular';
    font-size: 16px;
    font-weight: 400;
    color: $base-color;
    padding: 32px;
  }
  .p-answer-container {
    background-color: $light-gray-background;
  }
  .p-question-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border2-color;
    padding: 20px 0;
  }
}
