<section class="section-content fundadores">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="section-title">{{data?.title}}</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-md-5">
            <div class="col"
                 *ngFor="let founder of (data?.founders) ? data?.founders : []">
                <div class="card border-0 bg-transparent">
                    <img [src]="uploadService.makeUrl(founder.image)"
                         class="card-img-top"
                         [alt]="founder.name">
                    <div class="card-body">
                        <h5 class="card-title">{{founder.name}}</h5>
                        <p class="card-text">{{founder.role}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
