.section-title{
  max-width: 75%;
  margin: 0 auto;
  @media (max-width: 767px){
    max-width: none;
  }
}
.text-start{
  @media (max-width: 767px){
    font-size: 0.875rem !important;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 232px;
  max-width: 304px;
}
