<section class="benefits weekly">
  <img class="weekly__header"
    [src]="!responsiveService.validateDisplay(display, displays.DESKTOP) ? uploadService.makeUrl(data.headerImage) : uploadService.makeUrl(data.headerImageDesktop)">

  <div class="weekly__body">
    <img *ngIf="!responsiveService.validateDisplay(display, displays.DESKTOP)" class="weekly__stars"
      [src]="uploadService.makeUrl(data.starsImage)">

    <div class="weekly__content">
      <div class="weekly__headings">
        <img *ngIf="responsiveService.validateDisplay(display, displays.DESKTOP)" class="weekly__stars"
          [src]="uploadService.makeUrl(data.starsImage)">
        <h2 class="weekly__title">
          {{data.title}}
        </h2>

        <h3 *ngIf="!responsiveService.validateDisplay(display, displays.DESKTOP)" class="weekly__subtitle">
          {{data.subtitle}}
        </h3>
      </div>

      <div class="weekly__info">
        <h3 *ngIf="responsiveService.validateDisplay(display, displays.DESKTOP)" class="weekly__subtitle">
          {{data.subtitle}}
        </h3>

        <ng-container *ngIf="responsiveService.validateDisplay(display, displays.DESKTOP)">
          <ng-container *ngTemplateOutlet="weeklyHow"></ng-container>
        </ng-container>
      </div>

      <ng-container *ngIf="!responsiveService.validateDisplay(display, displays.DESKTOP)">
        <ng-container *ngTemplateOutlet="weeklyHow"></ng-container>
      </ng-container>

    </div>
    <ng-container *ngIf="!responsiveService.validateDisplay(display, displays.DESKTOP)">
      <ng-container *ngTemplateOutlet="benefitsButtons"></ng-container>
    </ng-container>
  </div>
</section>

<ng-template #benefitsButtons>
  <div class="benefits__buttons">
    <a [href]="data.button1.url"
      class="benefits__button benefits__button--dark benefits__button--short cursor--pointer">{{data.button1.label}}</a>
    <a [href]="data.button2.url"
      class="benefits__button benefits__button--light benefits__button--short cursor--pointer">{{data.button2.label}}</a>
  </div>
</ng-template>

<ng-template #weeklyHow>
  <div class="weekly__how">
    <div class="weekly__how-header">
      <h4 class="weekly__question">{{data.question}}
      </h4>

      <ul class="weekly__answers">
        <li class="weekly__answer" *ngFor="let item of data.textList">{{item.item}}</li>
      </ul>
    </div>

    <ng-container *ngIf="responsiveService.validateDisplay(display, displays.DESKTOP)">
      <ng-container *ngTemplateOutlet="benefitsButtons"></ng-container>
    </ng-container>
  </div>
</ng-template>