
<!--
-----------------------------------------
Slider
-----------------------------------------
<app-slider></app-slider>
-->

<!--
-----------------------------------------
Banner principal
-----------------------------------------
-->
<section class="seccion-nota-baner">
  <img [src]="nota.imagen" class="w-100" [alt]="nota.titulo">
</section>


 <!--
  -----------------------------------------
  Nota
  -----------------------------------------
  -->
  <section class="seccion-nota">
      <div class="container">
          <h1 class="titulo text-center animate__animated animate__flipInX mt-5" [innerHtml]="nota.titulo | safehtml"></h1>

          <div class="row">

              <div class="col-12 col-md-12 mt-5" [innerHtml]="nota.texto | safehtml"  style="float: left;">
              </div>


          </div>
      </div>
  </section>


<!--
-----------------------------------------
Noticias
-----------------------------------------
-->

<app-notas></app-notas>

<!--
-----------------------------------------
Requisitos
-----------------------------------------
-->

<app-requisitos></app-requisitos>

<!--
-----------------------------------------
FAQs
-----------------------------------------
-->

<app-faqs></app-faqs>
