@import "../../../assets/css/tools/variable.scss";
.depositions {
  padding: 0 0 50px 0;
  position: relative;
  .section-title {
    font-size: clamp(36px,3.75vw,48px);
    font-weight: 700;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}