<app-benefits-insurance-banner></app-benefits-insurance-banner>
<app-benefits-insurance-intro></app-benefits-insurance-intro>
<app-benefits-insurance-what-to-do></app-benefits-insurance-what-to-do>
<div class="coverages-also">
  <app-benefits-insurance-coverages></app-benefits-insurance-coverages>
  <app-benefits-insurance-also></app-benefits-insurance-also>
</div>
<app-benefits-insurance-how-communicate></app-benefits-insurance-how-communicate>
<app-benefits-insurance-faq></app-benefits-insurance-faq>