<div class="container-fluid">
    <div class="container-fluid__section-banner">
        <img src="assets/img/rappi-hero-banner.png" class="d-none d-md-block" alt="Banner">
        <img src="assets/img/hero-mobile-banner.jpg" class="d-md-none" alt="Banner">
    </div>
    <div class="container-fluid__section-join-heroes-section ">
        <div class="container-hero">
            <div class="row">
                <div class="col-lg-6 container-fluid__section-join-heroes-section--col-description">
                    <h1>¿Dónde están los héroes?</h1>
                    <p class="mt-3">Esta campaña es para los repartidores que se conectan a Soy Rappi
                        y convierten cada entrega en un acto heroico, llevando magia a sus usuarios.
                    </p>
                </div>
                <div class="col-lg-6 text-center" style="padding: 0;">
                    <img src="assets/img/rappi-hero-join-hero-img.png" alt="Imagen unete">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid__section-how-to-hero">
        <div class="container-hero">
            <div class="container-fluid__section-how-to-hero__content">
                <h1 class="container-fluid__section-how-to-hero--title">¿Cómo puedo ser un héroe SoyRappi?</h1>
                <h2 class="mt-4 container-fluid__section-how-to-hero--sub-title">
                    <p>¡Tus acciones cuentan, haz que tengan un impacto positivo en los demás! </p>
                      <p> Con cada pedido puedes dejar pequeñas huellas en los demás. </p>
                    <p> ¿Cómo manejas tu vehículo? ¿Cómo le entregas magia a tus usuarios? </p>
                    <p> ¿Cómo portas tu capa? </p>
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid__section-super-powered-hero px-3">
      <div class="container-hero">
        <div class="container-fluid__section-super-powered-hero__content-title">
            <h1 class="mt-5">Estos son algunos de los superpoderes de los Héroes SoyRappi:</h1>
        </div>
        <div class="container-fluid container-fluid__section-super-powered-hero__content-description mt-5">
            <div class="row">
                <div class="col-xl-6">
                    <div class="container-fluid__section-super-powered-hero__content-description--content-one text-start">
                        <div>
                            <img src="assets/img/rappi-hero-icon-one.png" alt="Icono heroe" class="mb-3">
                        </div>
                        <div>
                            <p class="mb-3">
                                ¡Se cuidan ellos y cuidan a los demás conociendo y siguiendo las normas de tránsito!
                            </p>
                            <ul>
                                <li>Conducen con cuidado, no se pasan el semáforo en rojo.</li>
                                <li>Respetan los límites de velocidad.</li>
                                <li>Usan correctamente los elementos de protección de acuerdo con el vehículo que usan.</li>
                                <li>Cuidan y respetan al peatón.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="text-start container-fluid__section-super-powered-hero__content-description--content-two">
                        <div>
                            <img src="assets/img/rappi-hero-icon-two.png" alt="Icono heroe" class="mb-3">
                        </div>
                        <div>
                            <p>¡Entregan magia a sus usuarios cuidando sus entregas!</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="container-fluid__section-super-powered-hero__content-description--content-one-secondary text-start">
                        <div>
                            <img src="assets/img/rappi-hero-icon-three.png" alt="Icono heroe" class="mb-3">
                        </div>
                        <div>
                            <p class="mb-3">Se conectan en las horas de alta demanda cuando sus usuarios más los necesitan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="text-start container-fluid__section-super-powered-hero__content-description--content-two ">
                        <div>
                            <img src="assets/img/rappi-hero-icon-four.png" alt="Icono heroe" class="mb-3">
                        </div>
                        <div>
                            <p>¡Son amables con sus usuarios y con toda la comunidad!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid__section-categories-hero-program">
        <div class="container-fluid">
            <div class="container-fluid__section-categories-hero-program__content-title">
                <h1>Participantes Héroes</h1>
            </div>
            <div class="container-fluid__section-categories-hero-program__content-description">
                <div class="container-hero">
                    <div class="container-fuild">
                        <div class="row">
                            <div class="col-lg-6 container-fluid__section-categories-hero-program__content-description--col-img">
                                <img src="assets/img/rappi-hero-hero3.png" class="container-fluid__section-categories-hero-program__content-description--img-hero1" alt="Imagen heroe">
                            </div>
                            <div class="col-lg-6">
                                <div class="container-fluid__section-categories-hero-program__content-description--content-section mx-3">
                                    <p class="container-fluid__section-categories-hero-program__content-description--paragraph-title">
                                        Podrán participar en la campaña repartidores y repartidoras registrados
                                        en Soy Rappi que tengan estado Plata o Diamante en la app.
                                    </p>
                                    <p class="my-4 container-fluid__section-categories-hero-program__content-description--paragraph-title">
                                        Los premios mensuales se entregarán a repartidores y repartidoras que acumulan
                                        la mayor cantidad de puntos, de acuerdo con lo siguiente:
                                    </p>
                                    <ul class="px-5">
                                        <li>Si está en estado diamante <strong>500 puntos</strong> (por corte)</li>
                                        <li>Si está en estado plata <strong>300 puntos</strong> (por corte)</li>
                                        <li>Órdenes entregadas satisfactoriamente <strong>1 punto</strong> (por cada entrega)</li>
                                        <li>Tiempo en auto aceptar <strong>1 punto</strong> (por entrega entrega con auto aceptar prendido)</li>
                                        <li>Calificación de usuarios: <strong>100 puntos</strong> por la calificación y se tendrá en cuenta a partir de la calificación 3 en promedio (3x100=300 puntos)  (por corte)</li>
                                        <li>Entrega de órdenes complejas satisfactoriamente en las secciones de “Farmacia”, “Tiendas” ,“Licores", "Mascotas": <strong>2 puntos</strong> (por entrega) (Aplica solo para la categoría Héroes)</li>
                                        <li>Participación en talleres de seguridad vial / Talleres Rappi / Rappi Conecta <strong>500 puntos</strong> (por taller)</li>
                                    </ul>
                                    <p class="my-3 container-fluid__section-categories-hero-program__content-description--title-section">Categorías: </p>
                                    <p class="container-fluid__section-categories-hero-program__content-description--sub-paragraph-section-categories">
                                        <span>1. Héroes: </span>para Repartidores Diamante y Plata. 
                                    </p>
                                    <p class="mt-4 container-fluid__section-categories-hero-program__content-description--sub-paragraph-section-categories">
                                        <span>2. Heroínas: </span>para Repartidoras Diamante y Plata. 
                                    </p>
                                    <p class="mt-3 container-fluid__section-categories-hero-program__content-description--sub-paragraph-section-blue-color">
                                      Número de ganadores totales  al mes: 10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid__section-terms">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container container-fluid__section-terms__content-description">
                        <h1><span>Términos y </span>condiciones</h1>
                        <ul>
                            <li>Conoce los Términos & Condiciones en el siguiente enlace:</li>
                            <li>
                                <a
                                    href="https://promos.rappi.com/colombia/proyecto-heroes-repartidores"
                                    target="_blank"
                                    rel="noopener noreferrer">
                                        https://promos.rappi.com/colombia/proyecto-heroes-repartidores
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 container-fluid__section-terms--col-img">
                    <img src="assets/img/rappi-hero-hero2.png" alt="Imagen heroe">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid__section-are-you-ready-hero">
        <div class="container-hero">
            <div class="container-fluid__section-are-you-ready-hero__content">
                <h1>¿Estás listo para que todos conozcan el héroe que eres y cómo ayudas cada día?</h1>
            </div>
        </div>
    </div>
</div>
