@import "../../../assets/css/tools/variable.scss";
.additional-info-block{
  display: flex;
  background-color: $light-orange-bg-color;
  .additional-info-img{
    width: 48%;
    @media (min-width: 1280px){
      text-align: right;
    }
    @media (max-width: 768px){
      order: 1;
      width: 100%;
      text-align: end;
      margin-top: -30px;
      padding-left: 15px;
    }
  }
  .additional-info-content{
    width: 52%;
    padding: 3% 3% 3% 7%;
    .dec{
      font-family: 'pp_object_sansbold';
      font-size: 1.875rem;
      line-height: 36px;
      color: $base-color;
      margin-bottom: 10px;
      @media (max-width: 1465px){
        font-size: 1.375rem;
        line-height: normal;
      }
      @media (max-width: 1280px){
        font-size: 1.2rem;
        line-height: normal;
      }
      @media (max-width: 991px){
        font-size: 1.2rem;
        line-height: normal;
      }
    }
    .sm-dec{
      font-family: 'pp_object_sansregular';
      font-size: 1rem;
      line-height: 20px;
      color: $base-color;
    }
    @media (max-width: 768px){
      order: 2;
      width: 100%;
      padding: 6% 6% 8% 6%;
    }
  }
  @media (max-width: 768px){
    flex-direction: column;
  }
}

::ng-deep{
  .additional-info-content{
    .richtext-area{
      h1{
        font-size: 1.75rem;
        @media (max-width: 1366px){
          font-size: 1.4rem;
        }
        @media (max-width: 1180px){
          font-size: 1rem;
        }
        @media (max-width: 768px){
          font-size: 1.2rem;
        }
      }

    }
    .sm-dec{
      @media (max-width: 1180px){
        font-size: 0.775rem !important;
        line-height: initial !important;
      }
      @media (max-width: 768px){
        font-size: 1rem !important;
        line-height: 20px !important;
      }
    }
    @media (max-width: 1180px){
      padding: 1% 3% 1% 7% !important;
    }
    @media (max-width: 768px){
      padding: 6% 6% 8% !important;
    }
  }
}
