@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:host ::ng-deep {
  .banner {
    display: flex;
    align-items: flex-end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12.75rem max(0.94rem, 3.4976%) 12.69rem;
    min-height: 38.9375rem;
    max-width: 100%;

    &--faqs-alpha {
      padding: 0 max(0.94rem, 3.4976%) 7.69rem;
      background-position: -485px;

      @media screen and (min-width: 64rem) {
        background-position: center center;
      }
    }

    &--Faqs-Insurance {
      padding: 0 max(0.94rem, 3.4976%) 12.69rem;
      background-position: top;

      @media screen and (min-width: 64rem) {
        padding: 9.87rem 8.12rem 24.44rem !important;
        height: 732px;
      }
    }

    &--Faqs-Learn {
      padding: 0 max(0.94rem, 3.4976%) 6.5rem;
    }

    &--Faqs-News {
      padding: 0 max(0.94rem, 3.4976%) 7.69rem;
      background-position: top;

      @media screen and (min-width: 64rem) {
        align-items: center;
      }
    }

    &__title {
      color: #fff;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      font-size: 80px;
      line-height: 76.8px;
      margin-bottom: 18rem;
      margin-left: 4rem;

      @media screen and(max-width: 900px) {
        font-size: 45px;
        margin-bottom: 0rem;
        margin-left: 0rem;
        line-height: 60px;
      }

      &--faqs-alpha {
        max-width: 8ch;

        @media screen and (min-width: 64rem) {
          font-size: 5rem;
          width: 8ch;
        }
      }

      &--Faqs-Insurance {
        max-width: 10ch;
        font-size: 3.25rem;

        @media screen and (min-width: 26.875rem) {
          font-size: 3.75rem;
        }

        @media screen and (min-width: 64rem) {
          font-size: 4rem;
          line-height: 61px;
          min-width: 14ch;
        }
      }

      &--Faqs-Learn {
        max-width: 8ch;

        @media screen and (min-width: 64rem) {
          font-size: 3.75rem;
          width: 13ch;
        }
      }

      &--Faqs-News {
        width: 14ch;

        @media screen and (min-width: 64rem) {
          font-size: 3.75rem;
        }
      }
    }

    @media screen and (min-width: 64rem) {
      background-image: url("/assets/img/benefits/desktop-banner--benefits.png");
      padding: 0 8.12rem 0;
      align-items: center;
      min-height: 100vh;
      width: 100%;
    }
  }
}
