<section class="faqs banner banner--{{router.url.substring(1)}}"
  [style]="responsiveService.validateDisplay(display, displays.DESKTOP) ? 'background-image: url(' + uploadService.makeUrl(data.imageDesktop) + ')' : 'background-image: url(' + uploadService.makeUrl(data.imageMobile) + ')'">

  <h1 class="banner__title banner__title--{{router.url.substring(1)}}">
    <ng-container *ngFor="let part of titleParts">
      <span style="display: block;">{{part}}</span>
    </ng-container>
  </h1>
</section>
