@import "../../../assets/css/tools/variable.scss";
.responsive-map {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;
  border: 2px solid $orange-color;
  border-radius: 10px;
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  @media (max-width: 375px){
    max-width: 315px;
    height: 321px;
    margin: 0 auto;
    padding-bottom: 80%;
  }
}
