<section class="seccion-documentos mt-5 reveal animate__animated" data-effect="animate__lightSpeedInRight">

    <div class="container">
        <h1 class="titulo text-center ">¿Qué necesitas?</h1>
        <h4 class="titulo text-center "><small>Los requisitos que necesitas son:</small></h4>

        <div class="row info">
            <div class="col col-12 col-md-4 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="assets/Docs-icono-auto.png" alt="Carro">
                    <div class="card-body">
                        <h5 class="titulo text-center">Carro</h5>
                        <div class="card-text">
                          <ul>
                            <li>Celular Android</li>
                            <li>Ser Mayor de edad</li>
                            <li>INE, IFE o FM3 (en caso de ser extranjero)</li>
                            <li>Descargar aplicación <img src="assets/logo.png" width="70"></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-md-4 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="assets/Docs-icono-moto.png" alt="Motocicleta">
                    <div class="card-body">
                        <h5 class="titulo text-center">Motocicleta</h5>
                        <div class="card-text">
                        <ul>
                          <li>Celular Android</li>
                          <li>Ser Mayor de edad</li>
                          <li>INE, IFE o FM3 (en caso de ser extranjero)</li>
                          <li>Descargar aplicación <img src="assets/logo.png" width="70"></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-md-4 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="assets/Docs-icono-bici.png" alt="Bicicleta">
                    <div class="card-body">
                        <h5 class="titulo text-center">Bicicleta</h5>
                        <div class="card-text">
                        <ul>
                          <li>Celular Android</li>
                          <li>Ser Mayor de edad</li>
                          <li>INE, IFE o FM3 (en caso de ser extranjero)</li>
                          <li>Descargar aplicación <img src="assets/logo.png" width="70"></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
