
<!--
-----------------------------------------
Slider
-----------------------------------------
-->
<app-slider></app-slider>

<!--
-----------------------------------------
Videos
-----------------------------------------
-->

<app-videos></app-videos>

<!--
-----------------------------------------
Noticias
-----------------------------------------
-->

<app-notas></app-notas>

<!--
-----------------------------------------
Requisitos
-----------------------------------------
-->

<app-requisitos></app-requisitos>

<!--
-----------------------------------------
FAQs
-----------------------------------------
-->

<app-faqs></app-faqs>
