<app-benefits-news-banner></app-benefits-news-banner>

<section class="benefits news__always">
  <p>
    Siempre trabajamos para mejorar tu experiencia a nivel general, por eso queremos informarte sobre los espacios en
    los
    que podrás tener acceso a un baño cuando lo necesites.
  </p>
</section>

<app-benefits-news-remember></app-benefits-news-remember>
<app-benefits-news-where></app-benefits-news-where>
<app-benefits-news-shopping-centers></app-benefits-news-shopping-centers>
<app-benefits-news-rules></app-benefits-news-rules>