$base-color: #354360;
$white-color: #FFFFFF;
$white-smoke-color: #F1F1F1;
$black-color: #000000;
$light-gray-color: #6A696E;
$orange-color: #FE3F23;
$light-orange-bg-color: #F4DFF6;
$border-color: #d5d8dd;
$border2-color: #d9dce0;
$white-gray-color: #f7f8f9;
$pink-orange-bg-color: #FFF0DD;
$purple-color: #511359;
$border3-color: #B3B9C2;
$golden-color: #F5E5CE;
$border4-color: #707070;
$base-gray-color: #616F8E;
$light-green-color: #E9FCF8;
$light-white-gray: #C9D3E3;
$ligth-yellow: #FEF8F1;
$dark-blue: #1C253D;
$button-green: #20AC99;
$button-gray: #F3F5F9;
$ligth-gray: #9AA1AF;
$light-gray-background: #F9FBFF;
$background-yellow: #FFF4D3;
$error: #f03d3e;
