@import "../../../assets/css/tools/variable.scss";
.acquire-bag-benefit {
  margin-top: 50px;
  padding-bottom: 50px;
  .benefit-content {
    .benefit-img {
      margin-bottom: 31px;
      img{
        @media (max-width: 675px) {
          width: 70%;
        }
      }
    }
    .benefit-text{
      padding: 0 25px;
      font-family: 'pp_object_sansregular';
      font-size: 1.125rem;
      color: $base-color;
      margin-bottom: 20px;
    }
  }
}
