:host {
  .btn.btn-gradient {
    width: 23.5625rem;
    height: 3.4375rem;

    @media (max-width: 768px) {
      width: 100%;
      font-size: 1em;
    }
  }

}


::ng-deep {
  .call-action-schedule-block {
    .call-action-block{
      @media (max-width: 767px){
        margin: 0 !important;
      }
    }
    .richtext-area{
      padding-left: 0 !important;
      margin-bottom: 20px;
    }
    .call-action-block-img{
      img{
        max-width: 640px;
        @media (max-width: 1120px){
          max-width: 100%;
        }
      }
    }
  }
  .even{
    .schedule-reservation-sec{
      @media (max-width: 767px){
        flex-direction: column-reverse !important;
      }
    }
  }

  .schedule-rich-text{
    .richtext-area{
      .text-big{
        font-size: 1.5rem;
      }
      ol{
        li{
          @media (max-width: 767px){
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}
