@import "../../../assets/css/tools/variable.scss";

.list-number{
  background-color: $light-orange-bg-color;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'pp_object_sansbold';
  color: $purple-color;
  margin-right: 15px;
  flex: none;
  font-size: 1.5rem;
  @media (max-width: 575px){
    width: 58px;
    height: 58px;
    font-size: 1rem;
  }
}
p{
  font-size: 1.125rem;
  font-family: 'pp_object_sansregular';
  line-height: 1.4rem;
  @media (max-width: 991px){
    font-size: 0.875rem;
  }
}
